<!DOCTYPE html>
<html>
  <head>
    <title><%= page %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- 부트스트랩 -->
    <link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap.css"/>
  </head>
  <body>
    <% include ./headers/header%>









    <!-- 부트스트랩 -->
    <script type="text/javascript" src="/javascripts/bootstrap/bootstrap.min.js"></script>
  </body>
  <script>
    $(document).ready(function(){
      $('#fileupload').addClass('active');

      $('#home').on('mousedown', function(e){
      e.preventDefault();
      $('.navclass').removeClass('active')
      $('#home').addClass('active');
      window.location.assign("/");
    });

    $('#login').on('mousedown', function(e){
      e.preventDefault();
      $('.navclass').removeClass('active')
      $('#login').addClass('active');
      window.location.assign("/login");
    });

    $('#join').on('mousedown', function(e){
      e.preventDefault();
      $('.navclass').removeClass('active')
      $('#join').addClass('active');
      window.location.assign("/join");
    });

    $('#fileupload').on('mousedown', function(e){
      e.preventDefault();
      $('.navclass').removeClass('active')
      $('#fileupload').addClass('active');
      window.location.assign("/fileupload");
    });

    });
    
  </script>
</html>
