<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- 부트스트랩 -->
    <link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap.css"/>
  </head>
  <body>
    <% include header%>
    <h1><%= title %> ㅎㅇ</h1>
    <p>Welcome to <%= title %></p>
    <table class="table">
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
      </tr>
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
      </tr>
    </table>


    <!-- 부트스트랩 -->
    <script type="text/javascript" src="/javascripts/bootstrap/bootstrap.min.js"></script>
  </body>
</html>
