<ul class="nav nav-tabs">
  <li role="presentation" class="navclass" id="home"><a href="#">Home</a></li>
  <li role="presentation" class="navclass" id="login"><a href="#">로그인</a></li>
  <li role="presentation" class="navclass" id="join"><a href="#">회원가입</a></li>
  <li role="presentation" class="navclass" id="fileupload"><a href="#">파일업로드</a></li>
</ul>
<div class="page-header">
  <h1><%= page %><small><%= page %></small></h1>
</div>